.profile-container {
    width: 50%;
    height: max-content;
    padding: 10px;
    margin: auto;
    margin-top: 1%;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    backdrop-filter: blur(25px);
}

h3{
    font-family: Poppins;
    font-size: 30px;
    text-align: center;
}

.legend {
    display: block;
    padding-left: 10px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: ivory;
    padding-bottom: 10px;
    padding-top: 10px;
}

.tb {
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 2px solid white;
    font-size: 30px;
    color: white;
    font-family: Poppins;
}

.tb:focus {
    outline: none;
    border-bottom-color: aquamarine;
}

.button-c {
    margin-top: 20px;
    width: 50%;
    border: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.ok {
    background-color: #1982c4;
    transition: all .3s ease-in-out;
}

    .ok:hover {
        background-color: cornflowerblue;
        color: white;
    }

.cancel {
    background-color: firebrick;
    color: white;
    transition: all .3s ease-in-out;
}

    .cancel:hover {
        background-color: #ff595e;
    }

.admin {
    background-color: gold;
    color: black;
    transition: all .3s ease;
}

    .admin:hover {
        background-color: goldenrod;
    }


.cash {
    background-color: limegreen;
    color: black;
    transition: all .3s ease;
    width: 100% !important;
}

    .cash:hover {
        background-color: green;
    }


/*From Here*/
.flexed-div {
    margin-top: 10px;
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.content {
    justify-self: stretch;
    flex-grow: 1;
}

    .content > input[type=image] {
        width: 100%;
        transition: all ease .4s;
        filter: grayscale(40%);
        border: none;
        border-bottom: 1px groove gray;
    }

        .content > input[type=image]:hover {
            filter: grayscale(0);
        }

.title {
    font: 100% Poppins;
    color: red;
    display: block;
    text-align: center;
}